<h1>New monster!!</h1>

<%= form_for @monster do |t| %>
	<%= t.text_field :name, :placeholder => "name" %>
	<%= t.text_field :terribleness_level, :placeholder => "terribleness level" %>
	<%= t.submit("Create Monster") %>
<% end %>